.modal-container {
  display: grid;
  flex-direction: column;
  background-color: #1f1f1f;
  border-radius: 20px 20px 0 0;
  transition: max-height 0.5s ease;
  max-height: 420px;
  overflow: hidden;
}

.modal-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.modal-container.hidden {
  max-height: 40px; 
  overflow: hidden;
}

